@using BlogModels;
@model IEnumerable<Subscription>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th> Title</th>
                <th>Blog Category</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var sub in Model)
            {
                <tr>
                    <td>@sub.Id</td>
                    <td>@sub.BlogId</td>
                                      
                    <td>

                        <form asp-action="Subscribe" method="post">
                            <input type="hidden" name="id" value="@sub.BlogId" />
                            <button type="submit">Subscribe</button>
                        </form>
                        <form asp-action="UnSubscribe" method="post">
                            <input type="hidden" name="id" value="@sub.BlogId" />
                            <button type="submit">UnSubscribe</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No blog posts available.</p>
}